@import "tailwindcss";
  
@font-face {
    font-family: CoastalClean;
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url('./assets/fonts/Coastal-Clean.woff2') format('woff2');
}

@theme {
    /* font-family */
    --font-coastal-clean: CoastalClean, sans-serif;

    /* Colors */
    --color-primary-blue: #4A94D0;
    --color-secondary-blue: #001B48;
    --color-light-blue: #4A94D01A;
}

